@model HolmesMVC.Models.Rename

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rename</legend>

        <div>
            @Html.LabelFor(model => model.AdaptationID, "Adaptation")
        </div>
        <div>
            @Html.DropDownList("Adaptation", String.Empty)
            @Html.ValidationMessageFor(model => model.AdaptationID)
        </div>

        <div>
            @Html.LabelFor(model => model.CharacterID, "in Canon")
        </div>
        <div>
            @Html.DropDownList("Character", String.Empty)
            @Html.ValidationMessageFor(model => model.CharacterID)
        </div>

        <div>
            @Html.LabelFor(model => model.ActorID, "Actor")
        </div>
        <div>
            @Html.DropDownList("Actor", String.Empty)
            @Html.ValidationMessageFor(model => model.ActorID)
        </div>

        <div>
            @Html.LabelFor(model => model.HonorificID, "Honorific1")
        </div>
        <div>
            @Html.DropDownList("Honorific", String.Empty)
            @Html.ValidationMessageFor(model => model.HonorificID)
        </div>

        <div>
            @Html.LabelFor(model => model.Forename)
        </div>
        <div>
            @Html.EditorFor(model => model.Forename)
            @Html.ValidationMessageFor(model => model.Forename)
        </div>

        <div>
            @Html.LabelFor(model => model.Surname)
        </div>
        <div>
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    
}
