@using HolmesMVC
@model HolmesMVC.Models.Rename

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rename</legend>

        <div>
            @Html.LabelFor(model => model.AdaptationID, "Adaptation")
        </div>
        <div>
            @Model.Adaptation.DisplayName
            @Html.HiddenFor(model => model.AdaptationID, "Adaptation")
        </div>

        <div>
            @Html.LabelFor(model => model.CharacterID, "in Canon")
        </div>
        <div>
            @Shared.LongName(Model.Character)
            @Html.HiddenFor(model => model.CharacterID, "Character")
        </div>

        <div>
            @Html.LabelFor(model => model.ActorID, "Actor")
        </div>
        <div>
            @Model.Actor.ShortName
            @Html.HiddenFor(model => model.ActorID, "Actor")
        </div>

        <div>
            @Html.LabelFor(model => model.HonorificID, "Title")
        </div>
        <div>
            @Html.DropDownList("HonorificID", String.Empty)
            @Html.ValidationMessageFor(model => model.HonorificID)
        </div>

        <div>
            @Html.LabelFor(model => model.Forename)
        </div>
        <div>
            @Html.EditorFor(model => model.Forename)
            @Html.ValidationMessageFor(model => model.Forename)
        </div>

        <div>
            @Html.LabelFor(model => model.Surname)
        </div>
        <div>
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    
}
