@model HolmesMVC.Models.ViewModels.RenameView

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Rename</legend>
            @{
                var fullname = Model.Forename + " " + Model.Surname;
                fullname = fullname.TrimStart();
                fullname = Model.Honorific + " " + fullname;
                fullname = fullname.TrimStart();
                fullname = fullname.Replace(" ", "\u00A0");
            }
    In '@Model.AdaptName', @Model.ActorName plays @Model.CharName as "@fullname".

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
    </p>
}
