@model List<HolmesMVC.Models.ViewModels.RenameView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Adaptation
        </th>
        <th>
            Actor
        </th>
        <th>
            Original
        </th>
        <th>
            Rename
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.AdaptName
        </td>
        <td>
            @item.ActorName.Replace(" ", "\u00A0") (@item.ActorId)
        </td>
        <td>
            @item.CharName.Replace(" ", "\u00A0") (@item.CharId)
        </td>
        <td>
            @{
                var fullname = item.Forename + " " + item.Surname;
                fullname = fullname.TrimStart();
                fullname = item.Honorific + " " + fullname;
                fullname = fullname.TrimStart();
                fullname = fullname.Replace(" ", "\u00A0");
            }
            @fullname
        </td>
        <td>&nbsp;
        </td>
    </tr>
}

</table>
