@using HolmesMVC
@model HolmesMVC.Models.Appearance

@{
    ViewBag.Title = "Create Appearance";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Appearance</legend>
        <br />
        <div class="editor-field">
            <label class="inlinelabel">Episode</label>: @Shared.DisplayName(Model.Episode.Season.Adaptation): @Shared.GetSeasonCode(Model.Episode)
            @if (String.IsNullOrWhiteSpace(Model.Episode.Title))
            {
                <text>'@Model.Episode.Story.Name'</text>
            }
            else
            {
                <text>'@Model.Episode.Title'</text>
            }
        </div>

        <br />

        @Html.Partial("_AppActor", Model)
        <div class="clear-fix"></div><br/>

        @Html.Partial("_AppChar", Model)
        <div class="clear-fix"></div><br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pic)
            @Html.ValidationMessageFor(model => model.Pic)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        <span class="hidden">
            @Html.EditorFor(model => model.EpisodeID)
        </span>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Episode", "Details", "Episode", new { Model.Episode.ID }, null)
</div>

@section Scripts {
    

    <script src="@Url.Content("~/Scripts/HideSeek/jquery.hideseek.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Apdore-newappearance.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#actorsearch').hideseek({
                nodata: 'No results found',
                highlight: true
            });
            $('#charsearch').hideseek({
                nodata: 'No results found',
                highlight: true
            });
        });
    </script>

    <!-- Licensing for HideSeek plugin:

       Copyright 2012 Dimitris Krestos

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

    -->
}