@using HolmesMVC
@model HolmesMVC.Models.Appearance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this appearance?</h3>

<p>@Model.Actor.ShortName as @Shared.LongName(Model.Character) in '@Model.Episode.Title', @Shared.DisplayName(Model.Episode.Season.Adaptation)</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Episode", "Details","Episode", new { ID = Model.EpisodeID } ,null)
    </p>
}
