@{
    ViewBag.Title = "Toys";
}

<link rel="canonical" href="https://appledore.azurewebsites.net/toys/mappintoy" />
<div id="body">
    <h2>@ViewBag.Title</h2>

    <div>
        <h3>Holmes Birthplace Map</h3>
        <br />
        <div>
            <div id="map-canvas" style="height:600px; width: 800px;"></div>
            @{
                List<String> alreadyMapped = new List<string>();
                alreadyMapped.Add("London"); // we have multiple mapping points within London
            }
            @foreach (HolmesMVC.Models.Actor a in Model)
            {
                if (a.SyncBirthplace() == "Success" && !alreadyMapped.Contains(a.Birthplace))
                {
                    alreadyMapped.Add(a.Birthplace);
                    <div class="actorPin" style="display:none;">                      
                        <span class="actorLink">@Html.ActionLink(HolmesMVC.Shared.ShortName(a),"Details", "Actor", new { a.UrlName }, null)</span>    
                        <span class="actorBirthplace">@a.Birthplace</span>
                        <span class="actorLat">@a.Latitude</span>
                        <span class="actorLong">@a.Longitude</span>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPIKey"]"></script>
    @Scripts.Render("~/Scripts/Apdore-googlemaps.js")
}