@{
    ViewBag.Title = "Toys";
}

<div id="body">
    <h2>@ViewBag.Title</h2>

    <div>
        <h3>Multiple Timeline Viewer</h3>
        <br />
        <div>
            View up to 5 adaptation timelines side by side.<br/><br/>

            @for (int i = 0; i < 5; i++)
            {
                var selectID = "timelineSelect" + i.ToString();
                <select class="adaptTimelineSelect" id="@selectID">
                    <option value="0"></option>
                    @foreach (HolmesMVC.Models.Adaptation ad in Model)
                    {
                        var name = HolmesMVC.Shared.DisplayName(ad);
                        if (ad.Translation != null)
                        {
                            name = name + " (" + ad.Translation + ")";
                        }
                        int startYear = ad.Seasons.SelectMany(s => s.Episodes).OrderBy(e => e.Airdate).First().Airdate.Year;
                        <option value="@ad.ID">@startYear: @name</option>
                    }
                </select>
                <a href="example.com" onclick="clearSelect(event, '@selectID');" class="adaptTimelineClear">Clear</a><br />
            }
            <script>
                function clearSelect(e, id) {
                    e.preventDefault();
                    $('#' + id).val('0').change();
                }
            </script>

            @foreach (HolmesMVC.Models.Adaptation ad in Model)
            {
                var episodes = ad.Seasons.SelectMany(s => s.Episodes).ToList();
                int startYear = episodes.OrderBy(e => e.Airdate).First().Airdate.Year;
                int endYear = episodes.OrderBy(e => e.Airdate).Last().Airdate.Year;
                if (episodes.Any())
                {
                    string spottyValues = "[";
                    foreach (var ep in episodes)
                    {
                        spottyValues += ep.Airdate.Year + ", " + ep.Airdate.Month + ", ";
                    }
                    spottyValues = spottyValues.Substring(0, spottyValues.Length - 2);
                    spottyValues += "]";

                    string divID = "timelinediv" + ad.ID.ToString();
                    string canvasID = "timeline" + ad.ID.ToString();
                <div id="@divID" class="timelineDiv" style="display:none;">
                    <h3>@HolmesMVC.Shared.DisplayName(ad)</h3>
                    <canvas id="@canvasID" data-firstepisode="@startYear" data-lastepisode="@endYear" data-startyear="@startYear" data-startmonth="1" data-endyear="@endYear" data-endmonth="12" data-spottyvalues="@spottyValues" class="timelineCanvas" style="display:none;">Turn on &lt;canvas&gt;.</canvas>
                </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Apdore-multitimeline.js"></script>
    <script type="text/javascript" src="~/Scripts/Apdore-timeline.js"></script>
}