@using HolmesMVC
@using HolmesMVC.Models.ViewModels
@model ScrapsView

@{
    ViewBag.Title = "Scraps";    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>


    <ul>
    @foreach (var link in Model.HolmesLinks) {
        <li>
        @if (link.Episode != null)
        {
            @Shared.DisplayName(link.Episode1)<text> </text>@link.Episode1.Airdate.ToShortDateString()
        } else {
            DateTime date = (DateTime)link.Airdate;
            @link.Title<text> </text>@date.ToShortDateString()
        }
        : 
        @foreach (var app in link.HolmesLinkAppearances) {
            if (app.HolmesLinkActor1.Actor1 != null) 
            {
                @Shared.ShortName(app.HolmesLinkActor1.Actor1)
            } else {
                @app.HolmesLinkActor1.Name
            }
            <text> and </text>
        }
            </li>
    }
        </ul>

@section Scripts {
}