@using HolmesMVC.Models.ViewModels
@model ScrapsView

@{
    ViewBag.Title = "Scraps";    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>

@{    
    // Holding this in storage til I decide what to do with it
    // Pictorial collage of Holmes actors 
        @*
    foreach (var actor in Model.HolmesPictureList)
    {
    <a href="/actor/@actor.ID">
        <img style="height:200px;" src="@actor.PicShow" alt="@actor.Forename @actor.Surname"></a>
    }      
        *@
    
    for (int i = 0; i < 5; i++) {
        <select class="adaptTimelineSelect">
            <option value=""></option>
        @foreach (var ad in Model.AdaptationList)
        {
            var name = HolmesMVC.Shared.DisplayName(ad);
            if (ad.Translation != null)
            {
                name = name + " (" + ad.Translation + ")";
            }
            <option value="@ad.ID">@name</option>
        }
        </select>
    }
    
    // Visual representation of adaptation timelines against each other

    foreach (var ad in Model.AdaptationList)
    {
        var episodes = ad.Seasons.SelectMany(s => s.Episodes);
        int startYear = episodes.OrderBy(e => e.Airdate).First().Airdate.Year;
        int endYear = episodes.OrderBy(e => e.Airdate).Last().Airdate.Year;
        if (episodes.Any())
        {
            string spottyValues = "[";
            foreach (var ep in episodes)
            {
                spottyValues += ep.Airdate.Year + ", " + ep.Airdate.Month + ", ";
            }
            spottyValues = spottyValues.Substring(0, spottyValues.Length - 2);
            spottyValues += "]";

            string divID = "timelinediv" + ad.ID.ToString();
            string canvasID = "timeline" + ad.ID.ToString();
            <div id="@divID" class="timelineDiv" style="display:none;">
                <h3>@HolmesMVC.Shared.DisplayName(ad)</h3>
                <canvas id="@canvasID" data-firstepisode="@startYear" data-lastepisode="@endYear" data-startyear="@startYear" data-startmonth="1" data-endyear="@endYear" data-endmonth="12" data-spottyvalues="@spottyValues" class="timelineCanvas" style="display:none;">Turn on &lt;canvas&gt;.</canvas>
            </div>
        }
    }
}



@section Scripts {
    <script type="text/javascript" src="~/Scripts/Apdore-multitimeline.js"></script>
    <script type="text/javascript" src="~/Scripts/Apdore-timeline.js"></script>
}