@model HolmesMVC.Models.Character

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Character</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Forename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Forename)
            @Html.ValidationMessageFor(model => model.Forename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UrlName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UrlName)
            @Html.ValidationMessageFor(model => model.UrlName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HonorificID, "Title")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HonorificID", String.Empty)
            @Html.ValidationMessageFor(model => model.HonorificID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Wikipedia, "Wikipedia URL")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Wikipedia)
            @Html.ValidationMessageFor(model => model.Wikipedia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoryID, "Story")
        </div>
        <div class="editor-field">
            <select id="StoryID" name="StoryID">
                <!-- This is done by hand as the automatic binding only displays 'Final Problem', not 'FINA' -->
                <option value=""></option>
                @foreach (var story in ViewBag.StoryID)
                {
                    <option selected="@story.Selected" value="@story.Value">@story.Value - @story.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.StoryID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {


    @Scripts.Render("~/Scripts/Apdore-editorscripts.js")
}
