@{
    ViewBag.Title = "Analytics";
}
<div id="body">
    <h2>@ViewBag.Title</h2>
    <div>You have @ViewBag.chaCount characters, @ViewBag.canChaCount of whom are canon.<br/>
        Played by @ViewBag.actCount actors, with @ViewBag.holCount different Holmeses.<br/>
        In @ViewBag.fadaCount films, @ViewBag.tadaCount TV shows and @ViewBag.radaCount radio shows.<br/>
        Based on @ViewBag.canCount stories.
    </div>
    </div>
