@using HolmesMVC.Models.ViewModels
@model ScrapsView

@{
    ViewBag.Title = "Scraps";    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>

@{    
    // Holding this in storage til I decide what to do with it
    // Pictorial collage of Holmes actors 
        @*
    foreach (var actor in Model.HolmesPictureList)
    {
    <a href="/actor/@actor.ID">
        <img style="height:200px;" src="@actor.PicShow" alt="@actor.Forename @actor.Surname"></a>
    }      
        *@
    
    
    // Visual representation of adaptation timelines against each other

    foreach (var ad in Model.AdaptationList)
    {
        var timelineID = "timeline" + ad.ID.ToString();
        <canvas id="@timelineID"></canvas>
    }
}



@section Scripts {
    <script type="text/javascript" src="~/Scripts/Apdore-timeline.js"></script>
    
    <script>
        $(document).ready(function() {
            
            var canvas;
            var ctx;
            
            var startYear = 1890;
            var startMonth = 1;
            var endYear = (new Date()).getFullYear() + 10;
            var endMonth = 12;

            var spottyValues = "";

            @foreach (var ad in Model.AdaptationList)
            {
                var episodes = ad.Seasons.SelectMany(s => s.Episodes);
                    if (episodes.Any())
                    {
                        string spottyValues = "[";
                        foreach (var ep in episodes)
                        {
                            spottyValues += ep.Airdate.Year + ", " + ep.Airdate.Month + ", ";
                        }
                        spottyValues = spottyValues.Substring(0, spottyValues.Length - 2);
                        spottyValues += "]";
                        
                        var timelineID = "#timeline" + ad.ID.ToString();
                     <text>
                        try {
                            canvas = $('@timelineID')[0];
                            ctx = canvas.getContext('2d');
                            spottyValues = @spottyValues;
                            drawTimeline(startYear, startMonth, endYear, endMonth, canvas, ctx, spottyValues, true);
                        } catch (err) {
                        }
                    </text>
                }
            }
        });
    </script>
}