@using HolmesMVC.Models.ViewModels
@model ScrapsView

@{
    ViewBag.Title = "Scraps";    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>

@{    
    // Holding this in storage til I decide what to do with it
    // Pictorial collage of Holmes actors 
        @*
    foreach (var actor in Model.HolmesPictureList)
    {
    <a href="/actor/@actor.ID">
        <img style="height:200px;" src="@actor.PicShow" alt="@actor.Forename @actor.Surname"></a>
    }      
        *@
    
    
    // Visual representation of adaptation timelines against each other

    foreach (var ad in Model.AdaptationList)
    {
        var episodes = ad.Seasons.SelectMany(s => s.Episodes);
        if (episodes.Any())
        {
            string spottyValues = "[";
            foreach (var ep in episodes)
            {
                spottyValues += ep.Airdate.Year + ", " + ep.Airdate.Month + ", ";
            }
            spottyValues = spottyValues.Substring(0, spottyValues.Length - 2);
            spottyValues += "]";

            int endYear = DateTime.Now.Year + 10;
    <canvas data-startyear="1890" data-startmonth="1" data-endyear="@endYear" data-endmonth="12" data-spottyvalues="@spottyValues" class="timelineCanvas">Turn on &lt;canvas&gt;.</canvas>
        }
    }
}



@section Scripts {
    <script type="text/javascript" src="~/Scripts/Apdore-timeline.js"></script>
}