@model HolmesMVC.Models.ViewModels.StoryView
@{
    ViewBag.Title = "A quote from '" + Model.Episode.Story + "'";
}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@("@")geeoharee" />
<meta name="twitter:title" content="'@Model.Episode.Story'" />
<meta name="twitter:description" content="@Model.ChunkText" />
<meta name="twitter:image" content="https://via.placeholder.com/125/c9efd2/008000?text=@Model.Episode.StoryCode" />
<link href="/Content/Cano.css" rel="stylesheet" />

<section class="leftfloatdetails">
	<article>
		<div class="storyChunk">@Html.Raw(Model.ChunkXml)</div>
		-- <i>@Html.ActionLink("'" + Model.Episode.Story + "'", "Details", "Story", new { id = Model.Episode.StoryCode }, null)</i>, Sir Arthur Conan Doyle
		<p><a href="https://twitter.com/intent/tweet" data-text="A quote from '@Model.Episode.Story'" data-url="@Request.Url" class="twitter-share-button">Tweet</a></p>
		<script>
			window.twttr = (function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					t = window.twttr || {};
				if (d.getElementById(id)) return t;
				js = d.createElement(s);
				js.id = id;
				js.src = "https://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);

				t._e = [];
				t.ready = function (f) {
					t._e.push(f);
				};

				return t;
			}(document, "script", "twitter-wjs"));</script>
	</article>
</section>

<div class="clear-fix"></div>