@model HolmesMVC.Models.ViewModels.StoryView
@{
    ViewBag.Title = "A quote from '" + Model.Episode.Story + "'";
}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@("@")geeoharee" />
<meta name="twitter:title" content="@Model.Episode.Story" />
<meta name="twitter:description" content="@ViewBag.Title" />
<meta name="twitter:image" content="http://appledore.azurewebsites.net/Content/ActorPhotos/brett-jeremy.jpg" />
<link href="/Content/Cano.css" rel="stylesheet" />

<section class="leftfloatdetails">
    <article>
        <div class="storyChunk">@Html.Raw(Model.ChunkXml)</div>
        -- <i>@Html.ActionLink("'" + Model.Episode.Story + "'", "Details", "Story", new { id = Model.Episode.StoryCode }, null)</i>, Sir Arthur Conan Doyle
    </article>
</section>

<div class="clear-fix"></div>