@using HolmesMVC.Enums
@model HolmesMVC.Models.Story

@{
    ViewBag.Title = "Edit Story";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Story</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID)
            @Html.ValidationMessageFor(model => model.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VillainType)
        </div>
        <div class="editor-field">
            <select name="VillainType">
                <option value="@((int)Villain.NoCrime)" @if ((Villain)Model.VillainType == Villain.NoCrime)
                                  {<text>selected</text>}>No crime committed</option>
                <option value="@((int)Villain.Theft)" @if ((Villain)Model.VillainType == Villain.Theft)
                                  {<text>selected</text>}>Theft</option>
                <option value="@((int)Villain.Murder)" @if ((Villain)Model.VillainType == Villain.Murder)
                                  {<text>selected</text>}>Murder</option>
                <option value="@((int)Villain.Blackmail)" @if ((Villain)Model.VillainType == Villain.Blackmail)
                                  {<text>selected</text>}>Blackmail</option>
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OutcomeType)
        </div>
        <div class="editor-field">
            <select name="OutcomeType">
                <option value="@((int)Outcome.NoCrime)" @if ((Outcome)Model.OutcomeType == Outcome.NoCrime)
                                  {<text>selected</text>}>No crime committed</option>
                <option value="@((int)Outcome.Release)" @if ((Outcome)Model.OutcomeType == Outcome.Release)
                                  {<text>selected</text>}>Released</option>
                <option value="@((int)Outcome.Escape)" @if ((Outcome)Model.OutcomeType == Outcome.Escape)
                                  {<text>selected</text>}>Escaped</option>
                <option value="@((int)Outcome.Arrest)" @if ((Outcome)Model.OutcomeType == Outcome.Arrest)
                                  {<text>selected</text>}>Arrested</option>
                <option value="@((int)Outcome.Killed)" @if ((Outcome)Model.OutcomeType == Outcome.Killed)
                                  {<text>selected</text>}>Killed</option>
            </select>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/Scripts/Apdore-editorscripts.js")
}