@model HolmesMVC.Models.Actor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this actor?</h3>
<fieldset>
    <legend>Actor</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Forename) @Html.DisplayFor(model => model.Middlenames) @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthdate) @Html.DisplayFor(model => model.Birthdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deathdate) @Html.DisplayFor(model => model.Deathdate)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
    </p>
}
