@using HolmesMVC
@model HolmesMVC.Models.ViewModels.ActorHistorySummary

@{
	var characterNameLink = Model.CharacterName;
}
@if (characterNameLink == "") {
	characterNameLink = "(character " + Model.CharacterId + ")";
}

Played @Html.ActionLink(characterNameLink, "Details", "Character", new { urlName = Model.CharacterUrlName }, null) @Shared.Times(Model.Count) on @Model.MediumName in '@Html.ActionLink(Model.AdaptName, "Details", "Adaptation", new { urlName = Model.AdaptUrlName }, null)'. @if (Model.AdaptTranslation != null && Model.AdaptTranslation != string.Empty) { <span style="font-weight: normal; font-size: small;"><i>@Model.AdaptTranslation</i></span> }
