@using HolmesMVC
@using HolmesMVC.Enums
@model HolmesMVC.Models.ViewModels.AdaptView

@{
    ViewBag.Title = Model.DisplayName;
}
@if (Model.MediumName == "Television")
{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org"
        , "@@type": "TVSeries"
        , "name": "@ViewBag.Title"
        , "startDate": "@Model.DateOfFirstEpisode.ToLongDateString()"
        , "numberOfEpisodes": @Model.Episodes.Count
        }
    </script>
}

<section class="rightfloatdetails">
    @if (Model.HolmesActors.Any() && Model.HolmesActors.First().PicShow != null)
    {
        <a href="@Url.Action("Details", "Actor", new { id = Model.HolmesActors.First().ID })"><img style="border: none;" src="@Model.HolmesActors.First().PicShow" width="150"/></a>
    }
    else
    {
        <i>(no Holmes picture)</i>
    }
    @if (Model.WatsonActors.Any() && Model.WatsonActors.First().ID != Model.HolmesActors.First().ID) {
        if (Model.WatsonActors.First().PicShow != null)
        {<a href="@Url.Action("Details", "Actor", new { id = Model.WatsonActors.First().ID })"><img style="border: none;" src="@Model.WatsonActors.First().PicShow" width="150"/></a>}
        else
        {
            <i>(no Watson picture)</i>
        }
    }
</section>
<section class="leftfloatdetails">
<h2 class="detailscategory">Adaptation</h2>
<h2 class="detailsheader">@ViewBag.Title
    @if (!string.IsNullOrEmpty(Model.Translation))
    {
        <span style="font-weight: normal; font-size: small;"><br /><i>@Model.Translation</i></span>
    }
    </h2>
<p>
    This @Model.MediumName adaptation
    @if (Model.Episodes.Any())
    {
        <text>began in @Model.DateOfFirstEpisode.Year, and </text>
    }
    was made by
    @if (string.IsNullOrWhiteSpace(Model.Company))
    {
        <text>an unknown company.</text>
    }
    else
    {
        <text>@Model.Company.</text>
    }
@if (Model.DisplayName != "Canon" && (Model.MediumName == "Television" || Model.MediumName == "Film"))
{
    <text><br/>IMDb: <a href="@string.Format("https://www.imdb.com/find?q=" + Model.DisplayName + " " + Model.DateOfFirstEpisode.Year + "")">@Model.DisplayName</a> <i>(link not verified)</i></text>
}
</p>
@if (Model.DisplayName != "Canon")
{
    <p>
        Sherlock Holmes @Html.Partial("_PlayedBy", Model.HolmesActors)<br />
        Dr. Watson @Html.Partial("_PlayedBy", Model.WatsonActors)
    </p>
}

@if (Request.IsAuthenticated)
{
    <p>@Html.ActionLink("Add episode", "Create", "Episode", new { Model.ID }, null)
        <br />
        @Html.ActionLink("Mass-add appearances to episodes", "MassAdd", "Appearance", new { Model.ID }, null)
    </p>
}
@Html.Action("DatabaseLinks", "Home", new { table = "Adaptation", id = Model.ID })
    </section>
@if (Model.Episodes.Any())
{
    string spottyValues = "[";
    foreach (var ep in Model.Episodes)
    {
        spottyValues += ep.Airdate.Year + ", " + ep.Airdate.Month + ", ";
    }
    spottyValues = spottyValues.Substring(0, spottyValues.Length - 2);
    spottyValues += "]";
    <div class="clear-fix"></div>
    <div id="timelinecontainer">
        <canvas class="timelineCanvas" data-startyear="@Model.Episodes.First().Airdate.Year" data-startmonth="@Model.Episodes.First().Airdate.Month" data-endyear="@Model.Episodes.Last().Airdate.Year" data-endmonth="@Model.Episodes.Last().Airdate.Month" data-spottyvalues="@spottyValues">Turn on &lt;canvas&gt;.</canvas>
    </div>
}
<table>
    @{
        var lastEpisode = new HolmesMVC.Models.Episode();
        var i = 0;
        foreach (var e in Model.Episodes)
        {
            if (i > 0 && lastEpisode.Season.AirOrder != e.Season.AirOrder)
            {
                var seasontext = "Season " + e.Season.AirOrder;
                if (!string.IsNullOrWhiteSpace(e.Season.Name))
                {
                    seasontext = e.Season.Name;
                }
        <text><tr>
            <td colspan="2" class="adaptseason">
                <h3>@seasontext @if (!string.IsNullOrEmpty(e.Season.Translation))
                                {<span style="font-weight: normal; font-size: small;"><br /><i>@e.Season.Translation</i></span> }</h3>
            </td>
        </tr></text>
            }
            if (i == 0 && !Model.SingleSeason)
            {
                var seasontext = "Season 1";
                if (!string.IsNullOrWhiteSpace(e.Season.Name))
                {
                    seasontext = e.Season.Name;
                }
        <text><tr>
            <td colspan="2" class="adaptseason">
                <h3>@seasontext @if (!string.IsNullOrEmpty(e.Season.Translation))
                                {<span style="font-weight: normal; font-size: small;"><br /><i>@e.Season.Translation</i></span> }</h3>
            </td>
        </tr></text>
            }
        <text>
        <tr>
            @{ string airdateFormat = "dd MMM yyyy"; }
            @if (e.AirdatePrecision == (int)DatePrecision.Month)
            {
                airdateFormat = "MMMM yyyy";
            }
            else if (e.AirdatePrecision == (int)DatePrecision.Year)
            {
                airdateFormat = "yyyy";
            }
            <td>@e.Airdate.ToString(airdateFormat)</td>
            @{var name = Shared.DisplayName(e);}
            <td>@Html.ActionLink(name, "Details", "Episode", new { e.ID }, null) @if (!string.IsNullOrEmpty(e.Translation))
                                                                                 { <span style="font-weight: normal; font-size: small;"><i>@e.Translation</i></span> }</td>
        </tr>
        </text>
                                                                                 lastEpisode = e;
                                                                                 i++;
        }
    }
</table>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Apdore-timeline.js"></script>
}

