@model HolmesMVC.Models.Adaptation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Adaptation</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Translation) <i><a href="https://translate.google.com/#auto/en/@Model.Name">Automate</a></i>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Translation)
            @Html.ValidationMessageFor(model => model.Translation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MediumID, "Medium")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MediumID", String.Empty)
            @Html.ValidationMessageFor(model => model.MediumID)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    
}
