@model HolmesMVC.Models.ViewModels.AdaptListView

@{
    ViewBag.Title = "Adaptations";
}

<link rel="canonical" href="https://appledore.azurewebsites.net/adaptation" />
<h2>@ViewBag.Title</h2>

    @if (Model.AdaptsFilm.Any())
    {
        <h3>Film Series</h3>
        <ul>
            @foreach (var a in Model.AdaptsFilm.OrderBy(a => a.Year))
            {
            <li>
                <text>@a.Year @Html.ActionLink(a.Name, "FilmDetails", "Adaptation", new { a.UrlName }, null)</text>
                @if (!string.IsNullOrEmpty(a.Translation))
                {
                    <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                }
            </li>
            }
        </ul>
    }
    
    @if (Model.AdaptsSingleFilm.Any())
    {            
            <text>
         <h3>Films</h3>
         <ul>
             @foreach (var a in Model.AdaptsSingleFilm.OrderBy(a => a.Year))
             {
                 <li>
                 @if (a.Holmes.Length > 0)
                 {
                     <text>@a.Year @a.Holmes: '@Html.ActionLink(a.Name, "FilmDetails", "Adaptation", new { a.UrlName }, null)'</text>
                 }
                 else
                 {
                     <text>@a.Year: '@Html.ActionLink(a.Name, "FilmDetails", "Adaptation", new { a.UrlName }, null)'</text>
                 }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }    
                 </li>
             }
         </ul>
</text>
    }

    @if (Model.AdaptsTV.Any())
    {
        <h3>TV Series</h3>
        <ul>
            @foreach (var a in Model.AdaptsTV.OrderBy(a => a.Year))
            {
            <li>
                @if (a.Holmes.Length > 0)
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "TVDetails", "Adaptation", new { a.UrlName }, null) (@a.Holmes)</text>
                }
                else
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "TVDetails", "Adaptation", new { a.UrlName }, null)</text>
                }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }   
            </li>
            }
        </ul>
    }
    
    @if (Model.AdaptsSingleTV.Any())
    {            
            <text>
         <h3>TV Films</h3>
         <ul>
             @foreach (var a in Model.AdaptsSingleTV.OrderBy(a => a.Year))
             {
                 <li>
                 @if (a.Holmes.Length > 0)
                 {
                     <text>@a.Year @a.Holmes: '@Html.ActionLink(a.Name, "TVDetails", "Adaptation", new { a.UrlName }, null)'</text>
                 }
                 else
                 {
                     <text>@a.Year: '@Html.ActionLink(a.Name, "TVDetails", "Adaptation", new { a.UrlName }, null)'</text>
                 }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }    
                 </li>
             }
         </ul>
</text>
    }

    @if (Model.AdaptsRadio.Any())
    {
        <h3>Radio Series</h3>
        <ul>
            @foreach (var a in Model.AdaptsRadio.OrderBy(a => a.Year))
            {
                <li>
                @if (a.Holmes.Length > 0)
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "RadioDetails", "Adaptation", new { a.UrlName }, null) (@a.Holmes)</text>
                }
                else
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "RadioDetails", "Adaptation", new { a.UrlName }, null)</text>
                }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }   
            </li>
            }
        </ul>
    }

    @if (Model.AdaptsSingleRadio.Any())
    {
        <h3>Radio Plays</h3>
        <ul>
            @foreach (var a in Model.AdaptsSingleRadio.OrderBy(a => a.Year))
            {
                <li>
                @if (a.Holmes.Length > 0)
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "RadioDetails", "Adaptation", new { a.UrlName }, null) (@a.Holmes)</text>
                }
                else
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "RadioDetails", "Adaptation", new { a.UrlName }, null)</text>
                }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }   
            </li>
            }
        </ul>
    }

    @if (Model.AdaptsOther.Any())
    {
        <h3>Other kinds of Series</h3>
        <ul>
            @foreach (var a in Model.AdaptsOther.OrderBy(a => a.Year))
            {
                <li>
                @if (a.Holmes.Length > 0 && a.Holmes != "Nobody")
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "Details", "Adaptation", new { a.UrlName }, null) (@a.Holmes, @a.Medium)</text>
                }
                else
                {
                    <text>@a.Year @Html.ActionLink(a.Name, "Details", "Adaptation", new { a.UrlName }, null) (@a.Medium)</text>
                }
                 @if (!string.IsNullOrEmpty(a.Translation)) {
                     <span style="font-weight: normal; font-size: small;"><i>@a.Translation</i></span>
                 }   
            </li>
            }
        </ul>
    }
