@using HolmesMVC
@model HolmesMVC.Models.Episode

@{
    ViewBag.Title = "Can't Delete";
}

<h2>@ViewBag.Title</h2>

<p>You can't delete '@Model.DisplayName' because it still has Appearances:</p>

@foreach (var a in Model.Appearances)
{
<text>
<p>
    @a.Actor.ShortName as @a.Character.ShortName: @Html.ActionLink("Delete", "Delete", "Appearance", new { id = a.ID }, null)
</text>
}
