@model HolmesMVC.Models.Episode

<div class="editor-label">
    <label for="SeasonID">Season</label>
</div>
<div class="editor-field">
    @Html.DropDownList("SeasonID", ViewBag.SeasonList as SelectList, new { onchange = "updateSeasonLinks();" }) @Html.RouteLink("New Season", "CreateSeason", new { id = ViewBag.adapt }) |

    <span id="editLink">@Html.RouteLink("Edit Season", "Edit", new { controller = "season", action = "edit", id = Model.SeasonID })</span>  |
    <span id="delLink">@Html.RouteLink("Delete Season", "Delete", new { controller = "season", action = "delete", id = Model.SeasonID })</span>
    <input hidden type="text" id="oldSeason" value="@Model.SeasonID" />
    <span class="field-validation-valid" data-valmsg-for="Season" data-valmsg-replace="true"></span>
</div>

<script>
    function updateSeasonLinks()
    {
        // get the Season value from the dropdown list
        var newSeason = $('#SeasonID').val();

        // update the Edit and Delete links
        var editLink = $('#editLink');
        var delLink = $('#delLink');

        var oldEdit = editLink.html();
        var oldDel = delLink.html();

        var oldSeason = $('#oldSeason').val();

        editLink.html(oldEdit.replace(oldSeason, newSeason));
        delLink.html(oldDel.replace(oldSeason, newSeason));

        $('#oldSeason').val(newSeason);
    }

</script>